.card{
    width: 60%;
    background-color: #333;
    height: 350px;
    border-radius: 8px;
    padding: 40px 40px;
}
.card h2{
    font-size: 24px !important;
    text-align: left !important;
    margin-bottom: 10px;

}
.card p{
    font-size: 20px !important;
    text-align: left !important;
}
.icon{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
@media only screen and (max-width:860px){
    .cardContainer{
        grid-template-columns: 1fr;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .card{
        width: 100%;
    }
}