.home {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 16px 24px 24px 24px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.me {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.me h1 {
  color: #e4dafc;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.2px;
  opacity: 0.6;
}

.me h2 {
  font-weight: bolder;
  color: #e4dafc;
  font-size: 52px;
  line-height: 1.2;
  opacity: 0.9;
}

.job_name {
  color: #f4385d !important;
}

.sideBar {
  background-color: #111;
  position: fixed;
  top: 91px;
  z-index: 99;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  gap: 30px;
  padding: 24px;
  animation: sideBar 0.28s ease-in-out;
  display: none;
  box-shadow: 1px 1px 10px #333;
}

@keyframes sideBar {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}
.button {
  display: inline-flex;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  font-size: 14px;
  margin-top: 16px;
  font-weight: semi-bold;
  text-transform: uppercase;
  background-color: #323232;
  color: #e3d9fd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #292929;
}

@media only screen and (max-width: 800px) {
  .sideBar {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .sideBar {
    display: block;
  }

  .me h2 {
    font-size: 40px;
  }
}
